@import url(http://fonts.googleapis.com/css?family=Lobster|Droid+Sans:400,700);
body {
  margin: 0;
  padding: 0; }

/*==================
    GENERAL NAVBAR
===================*/
nav.navbar.navbar-default.navbar-static-top {
  margin-bottom: 0;
  background-color: transparent !important;
  border: none; }

.navbar-default .navbar-nav > li > a {
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  color: #333; }

.navbar li:hover {
  background-color: #60cfe6; }

/*=================================
      BUTTON AND COLLAPSED NAV
===================================*/
.navbar-default .navbar-toggle:focus {
  background-color: #60cfe6; }

.navbar-default .navbar-toggle:hover {
  background-color: #60cfe6; }

div.navbar-collapse.collapse.in {
  background-color: #60cfe6;
  color: "Droid Sans", sans-serif; }
  div.navbar-collapse.collapse.in a:hover {
    background-color: mintcream; }

/*==================
  DROPDOWN MENU
==================*/
.dropdown-menu {
  background-color: #60cfe6; }

.dropdown-menu > li > a,
.dropdown-menu:hover > li > a,
.dropdown-menu:focus > li > a {
  color: #333; }

.navbar-default .navbar-nav > .open > a:active {
  background-color: #60cfe6; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
  font-weight: bold; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:active {
  background-color: mintcream; }

.dropdown-menu > li > a,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #333; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #333;
  background-color: #60cfe6; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: "Droid Sans", sans-serif; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: mintcream; }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #333;
    background-color: mintcream; } }
/*=========================================
    NAVBAR BRAND
==========================================*/
.navbar-header .navbar-brand {
  color: #333;
  font-weight: 600;
  font-family: "Droid Sans", sans-serif; }

.navbar-default .navbar-brand:hover {
  color: #333;
  background-color: #60cfe6; }

body {
  background-color: #60cfe6; }

.toTop {
  display: block;
  position: absolute;
  bottom: 1px;
  right: 2%;
  color: #333;
  margin-top: 10px; }

.clear {
  clear: both;
  margin: 0;
  padding: 0;
  display: none; }

.intro-splash {
  background: url(../img/magensBayWedding.jpg) center center no-repeat;
  height: 110vh;
  background-size: cover;
  text-align: center;
  position: relative;
  top: -50px;
  overflow-x: hidden; }
  .intro-splash h1 {
    color: #00777F;
    font-family: "Lobster", cursive;
    font-size: 200%; }
  .intro-splash .date {
    font-family: "Lobster", cursive;
    font-size: 180%; }

.info-holder {
  position: relative;
  top: 12vh; }

h1.names {
  font-family: "Lobster", cursive;
  color: #00777F; }

#countdown {
  position: relative;
  top: 20vh;
  right: 1%; }

.moreBtn {
  position: relative;
  top: 50vh;
  right: 4%;
  font-family: "Droid Sans", sans-serif;
  color: #00777F;
  font-size: 150%;
  padding: 7px 40px;
  border: solid 2px #00777F;
  border-radius: 5px; }

.moreBtn:hover {
  text-decoration: none; }

#countdown {
  position: relative;
  top: 22vh; }

#countdown .timeBubble {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: mintcream;
  padding: 5px;
  border-radius: 5px;
  overflow: hidden; }
  #countdown .timeBubble .holder {
    float: left;
    margin: 2px; }

.timeBubble .increment {
  font-weight: bold; }

.number {
  font-family: "Lobster", cursive;
  font-size: 180%; }

.panel.panel-default {
  padding: 5px; }
  .panel.panel-default .panel-heading {
    background-color: #D0CEE3;
    color: #333;
    margin: 0 3px; }

#events {
  padding-bottom: 15px; }

.intro h1 {
  text-align: center;
  font-family: "Droid Sans", sans-serif;
  color: #333; }

.intro p {
  margin-bottom: 30px; }

#disqus_thread {
  margin: 20px;
  padding: 20px; }

hr {
  padding: 0;
  margin-bottom: 0;
  margin-top: 30px; }

#bgContAbout {
  background: linear-gradient(to bottom, #60cfe6, mintcream, #E0E4EF, #D0CEE3, #60cfe6, mintcream, #E0E4EF, #D0CEE3); }
  #bgContAbout h1 {
    font-family: "Lobster", cursive;
    color: #00777F;
    text-align: center;
    padding-top: 60px; }
  #bgContAbout p {
    text-align: center;
    font-weight: bold;
    font-family: "Droid Sans", sans-serif;
    color: #333;
    font-size: 1.1em;
    margin-bottom: 10vh;
    display: block; }

#thumbHolder {
  position: relative;
  bottom: 30px;
  margin: 0 auto;
  border: solid 5px white;
  background-color: #222;
  padding-top: 20px; }

a img {
  width: 250px;
  height: 200px;
  border: solid 8px white;
  z-index: 10;
  text-align: center;
  margin: 10px 7px; }

#wedFAQ {
  margin: 50px 0;
  border: solid 1px grey;
  box-shadow: 0 0 1px grey;
  border-radius: 3px; }
  #wedFAQ h1 {
    text-align: center;
    font-style: "Droid Sans", sans-serif;
    color: #333; }
  #wedFAQ p {
    font-family: "Droid Sans", sans-serif; }

.faqContainer {
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 20px; }
  .faqContainer .question, .faqContainer .answer {
    background-color: #D0CEE3;
    padding: 8px;
    margin: 0;
    border-radius: 5px;
    cursor: pointer; }
  .faqContainer .answer {
    background-color: #FFFFFF;
    border-radius: 0 0 5px 5px;
    display: none; }

.qaHolder {
  border: solid 1px #333;
  border-radius: 5px;
  margin-bottom: 10px; }

.ocean {
  background: url(img/oceanTexture.png); }

#aboutEscapeBG {
  height: 100vh;
  position: relative;
  top: -70px;
  left: 0;
  right: 0;
  background: url("../img/escape2.jpg") center center no-repeat;
  background-size: cover;
  border-bottom: solid 10px white; }

.more {
  display: block;
  color: white;
  font-family: "Droid Sans", sans-serif;
  background-color: #60cfe6;
  font-weight: 500;
  padding: 5px 10px;
  font-size: 200%;
  margin-top: 120%;
  text-align: center;
  border: solid 4px white; }

.more:hover {
  text-decoration: none;
  color: white; }

#aboutEscape h1 {
  font-family: "Droid Sans", sans-serif;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center; }

.cruise1 {
  background-color: #FFFFFF;
  border: solid 2px #00777F;
  padding: 30px 20px;
  width: 100%;
  font-family: "Droid Sans", sans-serif; }
  .cruise1 h3 {
    font-family: "Droid Sans", sans-serif;
    color: #00777F;
    line-height: 1.5; }

h3.sailingWhen {
  text-align: center; }

.quote {
  font-family: "Droid Sans", sans-serif;
  color: #333;
  font-size: 150%;
  line-height: 1.5;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  margin-top: 20px; }

.author {
  display: inline-block;
  float: right;
  padding-top: 10px;
  position: relative;
  right: 30px;
  font-family: "Droid Sans", sans-serif; }

.entertainment {
  margin-bottom: 10px; }

#packList ul li {
  margin-bottom: 5px;
  font-family: "Droid Sans", sans-serif;
  color: #333; }

.bor-left {
  border-left: 1px solid #333;
  padding-left: 20px; }

footer {
  font-family: "Droid Sans", sans-serif;
  color: #00777F;
  padding: 20px; }
  footer a {
    color: #00777F; }
    footer a .sm {
      padding: 5px; }

#registry {
  min-height: 100vh;
  background-image: url("../img/wedding-gifts.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  #registry footer {
    position: fixed;
    bottom: 0; }

.giftPic h1.header {
  font-family: "Lobster", cursive;
  text-align: center; }
.giftPic p {
  font-family: "Droid Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 600; }
.giftPic .vendorList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #D1E1E1;
  border-radius: 5px;
  list-style-position: inside;
  list-style-type: none;
  overflow: hidden; }
  .giftPic .vendorList li {
    padding: 20px; }
    .giftPic .vendorList li img {
      border-radius: 20px;
      height: 11em; }

/*# sourceMappingURL=styles.css.map */
