#bgContAbout {
  background: linear-gradient(to bottom, $lightTurq, mintcream, $whitePurple, $lightPurple, $lightTurq, mintcream, $whitePurple, $lightPurple);
  //background-size: cover;
  //overflow-x: scroll;
    h1{
      font-family: $script;
      color: $darkTurq;
      text-align: center;
      padding-top: 60px;
    }

    p {
      text-align: center;
      font-weight: bold;
      font-family: $contFont;
      color: $contColor;
      font-size: 1.1em;
      margin-bottom: 10vh;
      display: block;
    }
  } //End BGAboutCont

    #thumbHolder {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin: 0 10%;
    background-color: #222;
    padding: 20px;
    } //End ThumbHolder


  a img {
    width: 250px;
    height: 200px;
    border: solid 8px white;
    z-index: 10;
    text-align: center;
    margin: 10px 7px;
  }
